body{
	margin: 0;
}

header{
	background-color: #ECF0F1;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 3px;
}

header h1{
	color: #34495E;
}

header img{
	border-radius: 124px;
	width: 300px;
	border: 20px solid #D0D3D4;
}

main{
	max-width: 1015px;
	margin: 0 auto;
}

main img{
	max-width: 100%;
	border-radius: 124px;
	width: 220px;
	text-align: center;
}